#masthead{
	display: flex;
    gap: $grid__gap;
    justify-content: space-between;
	align-items: center;
	padding: $grid__gap;
	@include breakpoint(mobile) {
		padding: 1rem;
	}
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	transition: all .3s;
	background-color: color(body-main);

	.site-branding {
		position: absolute;
		left: calc(50% - 48px);
		width: 112px;
		transition: all .3s;
	}

	.menu-toggle {
		align-self: start;
		padding: 0;
		transition: all .3s;

		&:hover {
			cursor: pointer;
		}
	}

	.wp-block-button__link {
		display: flex;
		align-items: center;
		

		span {
			transition: all .3s;

			@include breakpoint(mobile) {
				font-size: 0;
			}
		}

		img {
			width: 0;
			transition: all .2s;
			@include breakpoint(mobile) {
				width: 24px;
			}
		}
	}


	&.masthead--fixed {
		padding: $space-1 $grid__gap;
		transition: all .3s;
		
		.menu-toggle {
			max-width: $space-4;
		}

		.site-branding {
			width: 80px;
		}

		.wp-block-button__link {
			padding: $space-05 $space-3;
			
			span {
				font-size: 0px;
				transition: all .2s;
			}

			img {
				width: 24px;
				transition: all .2s;
			}
		}
	}

}

.overlay {
	display: flex;
	height: 100%;
	// width: 0;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	// left: 0;
	right: 100%;
	background-color: rgba( color(body-main), .97);
	overflow-x: hidden;
	transition: 0.5s;

	&.navigation-open {
		right: 0;
	}

	.overlay--content {
		padding: $space-4 $space-8;

		@include breakpoint(mobile) {
			padding: $space-4;
		}
	}

	.site-navigation {
		position: relative;

		&::before {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background: color(body-medium);
			margin-bottom: $space-2;
		}

		&::after {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background: color(body-medium);
			margin-top: $space-2;
		}

		ul {
			list-style: none;
			font-size: 32px;
			font-family: $font__heading;
			font-weight: bold;
			text-transform: uppercase;
			// letter-spacing: 3px;
			line-height: 40px;
			margin: 0;
			padding: 0;

			li {
				padding-bottom: $space-1;

				a {
					color: color(body-white);
					transition: all .3s;

					&:hover, &:focus {
						color: color(primary);
						padding-left: $space-1;
						transition: all .3s;
					}
				}
			}
		}
	}

	.address-navigation {
		margin-top: -124px;
		@include breakpoint(mobile) {
			margin-top: $space-3;
		}
		
	}  

	.widgets-navigation {
		padding-left: $space-8;
		@include breakpoint(tablet) {
			padding: $space-2;
		}
	}

	.close-toggle {
		position: absolute;
		top: 40px;
		right: 40px;
		&:hover {
			cursor: pointer;
		}
	  }
}
  
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
